################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/EdunextG1/EdunextG1/appsettings.json
/EdunextG1/EdunextG1/appsettings.json
/EdunextG1/EdunextG1/appsettings.json
